.navLink {
  color: inherit;
  background-color: inherit !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navLink:hover {
  color: #fff;
  background-color: rgba(255,255,255,.2) !important;
}

.iconLink {
  color: #fff;
  background-color: transparent !important;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.3);
}

.github:hover {
  color: #869393;
}

.linkedin:hover {
  color: #007bb6;
}

.stack-overflow:hover {
  color: #FF9900;
}

.google-plus:hover {
  color: #dd4b39;
}

.twitter:hover {
  color: #00aced;
}