$mediumColor: #1c9963;
$mediumHoverColor: #00ab6b;
$radius: 4px;

@font-face {
    font-family: "humanist 521 bt";
    src: url(require('../../../../public/font/humanist-521-bt.tff')) format("truetype");
}

.img {
  height: 50%;
  width: 100%;
  overflow: hidden;
  border-radius: $radius $radius 0 0;
}

.name {
  color: $mediumHoverColor;
  font-size: 7pt;
  margin: 0 0 0 3.5%;
  position: absolute;
  top: 3.5%;
  font-weight: 300;
  letter-spacing: .08em;
  // font-family: "humanist 521 bt";
}

.hr {
  position: absolute;
  top: 3.5%;
  width: 93%;
  margin: 6.5% 0 0 3.5%;
  border-top: 1.5px solid $mediumHoverColor;
}

.content {
  color: black;
  margin: 0 3.5%;
  font-size: 8pt;
  font-weight: 400;
  line-height: 1.3em;
  font-family: initial;
}

.mPost {
  height: 50%;
  width: 100%;
  border-radius: 0 0 $radius $radius;
  background-color: #fff;
  position: relative;
}

.box {
  border-radius: $radius;
  border: 1px solid #fff;
  // box-shadow: 0px 0px 7px whitesmoke;
  height: 262.5px;
  transition: box-shadow 0.3s ease-in-out;
}

.box:hover {
  box-shadow: 0 0 7px 1px whitesmoke;
}

.title {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: black;
  top: 19%;
  min-width: 93%;
  margin: 0 3.5%;
  padding-top: 11%;
  font-weight: 900;
  text-transform: none;
  font-size: 12pt;
  -webkit-transform: scale(1, 0.8);
  -moz-transform: scale(1, 0.8);
  -ms-transform: scale(1, 0.8);
  -o-transform: scale(1, 0.8);
  transform: scale(1, 0.8);
}