.title {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.heading {
  font-size: 100px;
}

.body {
  display: table-cell;
  vertical-align: middle;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url('./Top.jpg') no-repeat fixed top center; /* ../img/tedxpurdueu.jpg || http://goo.gl/AN74Ei */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.pullMiddle {
  font-size: 25px;
  position: relative;
  bottom: 2.15em;
  left: -0.4em;
}