.contentSection {
    padding-top: 125px;
    padding-bottom: 125px;
}



/* =========================================================================
                            Still Deciding
   =======================================================================*/
.idea-main-clr {
    color: #66A2A9;
}

.idea-main-clr:hover {
    color: blue;
}
// .blog {
//     display: table;
//     width: 100%;
//     height: auto;
//     padding: 100px 0;
//     text-align: center;
//     color: #fff;
//     /*background: url(../img/green_envy.jpg) no-repeat fixed; // ../img/tedxpurdueu.jpg || http://goo.gl/AN74Ei */
//     /*
//      * autumn:        http://goo.gl/5LVIum;
//      * fireflies:     http://goo.gl/AN74Ei;
//      * jellyfish:     http://goo.gl/FRJo3V;
//      * cherries:      http://goo.gl/mOgGfs;
//      * cherries2:     http://goo.gl/LHrTlG;
//      * smart light:   http://goo.gl/NwYozX;
//      * explode light: http://goo.gl/PmnbBY;
//      *
//      */
//     /*background-color: #000;*/
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     -o-background-size: cover;
// }