.playIcon {
  position: absolute;
  left: 46%;
  top: 33%;
  font-size: 40px;
  // color: #fff;
}
.transition {
  color: #fff;
}

.transition:hover {
  color: #646464;
  transition: all .2s ease-in-out;
}

.playImageThumb {
	background-image: url('http://lorempixel.com/400/300/sports/4/');
	background-size: cover;
	height: 190px;
	vertical-align: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 262.5px;
  border: 2px solid #ddd;
}