.work {
    background: url('./Work.jpg') no-repeat fixed; /* http://goo.gl/5LVIum */
    -webkit-background-size: cover;
    padding: 100px 0;
}

.content {
    padding-top: 125px;
    padding-bottom: 125px;
}

.clr {
    color: orange;
}

.clr:hover {
    color: red;
}