.play {
  background-position-y: -290px !important;
}

.content {
  padding-top: 125px;
  padding-bottom: 125px;
}

/*
 * autumn:        http://goo.gl/5LVIum;
 * fireflies:     http://goo.gl/AN74Ei;
 * jellyfish:     http://goo.gl/FRJo3V;
 * cherries:      http://goo.gl/mOgGfs;
 * cherries2:     http://goo.gl/LHrTlG;
 * smart light:   http://goo.gl/NwYozX;
 * explode light: http://goo.gl/PmnbBY;
 */